body{ 
    margin: 0px;
    padding: 0px;
}
.contenedor-card{
    width: 400px;
    height: auto;
    background: #8af7a1;
    padding: 10px;
}
.cont-img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
#img-a{ background-image: url(../img/Producto\ Ecologico-1.jpg);
}
#img-b{ background-image: url(../img/imagen\ -b.jpg);

}